<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Location Info</title>
</head>
<body>
<form action="choose" method="post">
    <label>Choose location:</label><br/>
    <select name="locationName">
        <option value=""></option>
        <option value="Lisbon">Lisbon</option>
        <option value="Porto">Porto</option>
        <option value="Amadora">Amadora</option>
        <option value="Braga">Braga</option>
        <option value="Funchal">Funchal</option>
        <option value="Coimbra">Coimbra</option>
        <option value="Almada">Almada</option>
        <option value="Gondomar">Gondomar</option>
        <option value="Viseu">Viseu</option>
        <option value="Aveiro">Aveiro</option>
    </select>
    <br/>
    <button type="submit">Submit</button>
</form>
<h1>Air Conditions Portugal</h1>
<h1 th:text="${locationName}">Location name</h1>
<h2>PM10:</h2>
<h3 th:text="${PM10}">PM10</h3>
<h2>CO:</h2>
<h3 th:text="${CO}">CO</h3>
<h2>NO2:</h2>
<h3 th:text="${NO2}">NO2</h3>
<h2>O3:</h2>
<h3 th:text="${O3}">O3</h3>
<h2>SO2:</h2>
<h3 th:text="${SO2}">SO2</h3>

</body>
</html>