<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>index</title>
</head>
<body>

<h1>Air Conditions Portugal</h1>
<form action="choose" method="post">
<label>Choose location:</label><br/>
<select name="locationName">
    <option value=""></option>
    <option value="Lisbon">Lisbon</option>
    <option value="Porto">Porto</option>
    <option value="Amadora">Amadora</option>
    <option value="Braga">Braga</option>
    <option value="Funchal">Funchal</option>
    <option value="Coimbra">Coimbra</option>
    <option value="Almada">Almada</option>
    <option value="Gondomar">Gondomar</option>
    <option value="Viseu">Viseu</option>
    <option value="Aveiro">Aveiro</option>
</select>
<br/>
<button type="submit">Submit</button>
</form>
</body>
</html>